# START CRON JOB
*/2 * * * * /usr/local/bin/python /app/send_email.py > /proc/1/fd/1 2>/proc/1/fd/2
* * * * * /usr/local/bin/python /app/add_file.py > /proc/1/fd/1 2>/proc/1/fd/2
*/10 * * * * /usr/local/bin/python /app/suppression.py > /proc/1/fd/1 2>/proc/1/fd/2
# END CRON JOB